<app-navbar></app-navbar>
<div class="img-slider vh-100">
  <div class="grad" fxLayout="row" fxLayoutAlign="space-between center" >
    <div class="container m-auto" style=" background: red">
      <div style="width: 350px">
        <p class="title">From e-commerce to digital comerce Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequatur, cumque eveniet fugit ipsa ipsam ipsum libero magnam minus nulla officia quos similique sunt tempore veniam voluptates voluptatibus? Aut, inventore.</p>
      </div>
    </div>
  </div>
</div>

<br><br><br><br><br><br><br><br><br><br>
